<h2>Input directive showcase</h2>
<div class="max-showcase-container">
        <max-showcase-example
                title="TITLE"
                description="DESCRIPTION">
            <input maxInput />
        </max-showcase-example>
        <max-showcase-example
                title="TITLE"
                description="DESCRIPTION">
            <input maxInput>
        </max-showcase-example>
        <max-showcase-example
                title="TITLE"
                description="DESCRIPTION">
            <input maxInput>
        </max-showcase-example>
</div>
